<%= form_with(model: attribute) do |form| %>
  <% if attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attribute.errors.count, "error") %> prohibited this attribute from being saved:</h2>

      <ul>
        <% attribute.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :objective %>
    <%= form.check_box :objective %>
  </div>

  <div class="field">
    <%= form.label :subjective %>
    <%= form.check_box :subjective %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
