<p id="notice"><%= notice %></p>

<h1>Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Objective</th>
      <th>Subjective</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attributes.each do |attribute| %>
      <tr>
        <td><%= attribute.name %></td>
        <td><%= attribute.objective %></td>
        <td><%= attribute.subjective %></td>
        <td><%= attribute.description %></td>
        <td><%= link_to 'Show', attribute %></td>
        <td><%= link_to 'Edit', edit_attribute_path(attribute) %></td>
        <td><%= link_to 'Destroy', attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attribute', new_attribute_path %>
